<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Sample</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <main>
      <section>
        <h1>
          <span class="flex">
            <span><center>Address: Recihstage, Berlin, Germany</center></span>
            <span><center>Invoice Sample</center></span>
          </span>
        </h1>
        <div id="title-bar" aria-hidden="true">
          <span class="main-description">Description</span>
        </div>
        <div class="table-wrap">
          <table>
            <caption></caption>
            <thead>
              <tr>
                <td></td>
                <th><span>Price</span></th>
                <th><span>Unit</span></th>
                <th><span>Total</span></th>
              </tr>
            </thead>
            <tbody>
              <tr class="data">
                <th>Headset <span class="description"></span></th>
                <td>$10</td>
                <td>5 PCS</td>
                <td class="sub-total">$50</td>
              </tr>
              <tr class="data">
                <th>Caculator <span class="description"></span></th>
                <td>$14</td>
                <td>7 PCS</td>
                <td class="sub-total">$98</td>
              </tr>
              <tr class="data">
                <th>Bagpack <span class="description"></span></th>
                <td>$24</td>
                <td>10 PCS</td>
                <td class="sub-total">$240</td>
              </tr>
              <tr class="total">
                <th>Sub-Total <span></span></th>
                <td></td>
                <td></td>
                <td class="sub-total">$388,00</td>
              </tr>
              <tr class="total">
                <th>Tax VAT 10% <span></span></th>
                <td></td>
                <td></td>
                <td class="sub-total">$38,80</td>
              </tr>
              <tr class="total">
                <th>Discount % <span></span></th>
                <td></td>
                <td></td>
                <td class="sub-total">N/A</td>
              </tr>
              <tr class="total">
                <th>Grand-Total <span></span></th>
                <td></td>
                <td></td>
                <td class="sub-total">$426,80</td>
              </tr>
            </tbody>
          </table>
          <table>
          </table>
          <h4><center>Thanks You !!</center></h4>
        </div>
      </section>
    </main>
  </body>
</html>